<!-- <section class="a4-bg">
    <div id="containment-wrapper">
            <p  id="l"  class="draggable ui-widget-content">
                <span class="remove" style="color: #000;">Remove Option</span>
            </p>
        <button type="submit" id="b">add images</button>
      
      </div>
    
</section> -->
<div  class="container">
    <button type="submit" (click)="getItems()">add items</button>
    <div id="{{i}}" class="grid" *ngFor="let item of picture;  let i = index"
      cdkDrag 
      cdkDragBoundary=".container"
      (cdkDragEnded)="onDragEnded($event)" [ngStyle]="{'background-color': item.value }">
      {{item.color}}
    </div>
  </div>